.title {
    color: red;
    font-size: 24px;
    font-family: "Courier New", monospace;
}

.btnYes,
.btnNo {
    background-color: pink;
    color: rgb(117, 15, 15);
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
}

.btnYes {
    transform: translate(-110%);
}

.btnYes:hover,
.btnNo:hover {
    background-color: hotpink;
}

.container {
    position: absolute;
    right: calc(40% - 25vw);
    top: calc(40% - 25vh);
    background-color: #ffffff;
    border: 2px #a7a7a7;
    padding: 20px;
    -webkit-box-shadow: 14px 11px 28px 0px rgba(73,73,73,0.81); 
    box-shadow: 14px 11px 28px 0px rgba(73,73,73,0.81);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 20;

    width: 50vw;
    height: 50vh;
}

.decorator {
    width: 70vw;
    height: 70vh;
    background-color: rgb(148, 19, 19);
    position: absolute;
    border-radius: 20px;
    transform: rotate(-10deg);
    z-index: 10;
    right: calc(55% - 25vw);
    top: calc(40% - 25vh);
}
.heart {
    position: absolute;
    font-size: 3rem;
    color: rgb(165, 16, 16);
    z-index: 30;
}

#heart1 {
    right: calc(40% - 25vw - 1.5rem);
    top: calc(40% - 25vh - 1.5rem);
    transform: rotate(25deg);
}

#heart2 {
    top: 45%;
    left: 5%;
    transform: rotate(15deg);
    color: #f3e5dd;
}

#heart3 {
    top: 30%;
    left: 5%;
    transform: rotate(-15deg);
    color: #f3e5dd;
}

#heart4 {
    top: 5%;
    left: 10%;
    transform: rotate(-8deg);
}

#heart5 {
    bottom: 5%;
    right: 10%;
    transform: rotate(8deg);
}


body {
    background-color: #f3e5dd;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
